* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #bc5fe7;
    height: 100vh;
  }
  
  .calculator {
    background-color: #30e6ec;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  #display {
    width: 100%;
    height: 50px;
    text-align: right;
    font-size: 2rem;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #050000;
    border-radius: 5px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  .button {
    font-size: 1.5rem;
    padding: 20px;
    border: none;
    background-color: #fa6c6c;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .button:hover {
    background-color: #ddd;
  }
  
  button:active {
    background-color: #77b3f8;
  }
  